@font-face {
    font-family: FuturaPTBold;
    src: url(fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: FuturaPTLight;
    src: url(fonts/FuturaPTLight.otf);
}

@font-face {
    font-family: FuturaPTMedium;
    src: url(fonts/FuturaPTMedium.otf);
}

@media only screen and (max-width : 767px) {
    .padding-x {
        padding: 0 27px;
        width: 100%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .padding-x {
        padding: 0 41px;
        width: 100%;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1224px) {
    .padding-x {
        padding: 0 62px;
        width: 100%;
    }
}

@media only screen and (min-width : 1224px) {
    .padding-x {
        padding: 0 93px;
        width: 100%;
    }
}

@media only screen and (min-width : 1824px) {
    .padding-x {
        padding: 0 140px;
        width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: FuturaPTMedium;
}

section#header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/back.png);
    background-size: cover;
    position: relative;
}

.header-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(134, 42, 8, 0.6);
}

/* navbar */
.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    filter: brightness(0) invert(1);
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #fff;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    padding: 5px 10px;
    color: #fff !important;
    transition: all 200ms linear;
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400;
}

.nav-item:hover .nav-link,.nav-item.active-style .nav-link {
    border: 1px solid #fff;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}
.dropdown-menu {
    min-width: 53px !important;
    border-radius: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}
.dropdown-menu .dropdown-item{
    padding: .25rem 1rem;
}
@media screen and (max-width:767px) {
    .start-header {
        background-color: #dfdfe2;
        padding: 10px 0;
    }
    .nav-item.active-style .nav-link{
        border: none;
    }
    .navbar-brand img {
        height: 28px;
        width: auto;
        display: block;
        filter: brightness(10%);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .navbar-light .navbar-toggler-icon {
        border-bottom: 1px solid #000;
    }

    .navbar-light .navbar-toggler-icon:after,
    .navbar-light .navbar-toggler-icon:before {
        background-color: #000;
    }

    .nav-link {
        padding: 5px 5px;
        color: #000 !important;
        border: none;
    }

    .nav-item:hover .nav-link {
        border: none;
    }

    .nav-link.active {
        border: none;
    }
}

/*  end of navbar */

/* main */
.main {
    padding-top: 36vh;
}

.main-heading {
    text-transform: uppercase;
    font-size: 40px;
    font-family: FuturaPTBold, sans-serif;
    display: block;
    color: #fff;
    letter-spacing: 5.2px;
}

.main-heading:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 90px;
    border: 1px solid #fff;
    margin: -30px 0 0 -20px;
}

@media screen and (max-width:768px) {
    .main-heading::before {
        display: none;
    }
}

.main-text {
    font-size: 25px;
    color: #fff;
    margin-top: 20px;

}

.main-text span {
    font-family: FuturaPTLight, sans-serif;

}

.main-foot {
    margin-top: 5vh;
}

.main-foot-text:hover,
.main-foot-text:active,
.main-foot-text:focus {
    cursor: pointer;
    text-decoration: none;
    color: #fff;

}

.main-foot-text {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: FuturaPTBold;
    letter-spacing: 3.5px;
}

.main-foot .main-foot-text {
    margin-left: 10px;
}

@media screen and (max-width:767px) {
    .main {
        padding-top: 30vh;
    }

    .main-heading {
        text-transform: uppercase;
        font-size: 30px;
        font-family: FuturaPTBold, sans-serif;
        display: block;
        color: #fff;
        letter-spacing: 2.6px;
    }

    .main-text {
        font-size: 15px;
        color: #fff;
        margin-top: 15px;

    }

    .main-foot-text {
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        font-family: FuturaPTBold;
        letter-spacing: 1.8px;
    }

    .main-foot {
        margin-top: 5vh;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .main {
        padding-top: 25vh;
    }

    .main-foot {
        margin-top: 10vh;
    }

    .main-heading {
        text-transform: uppercase;
        font-size: 45px;
        font-family: FuturaPTBold, sans-serif;
        display: block;
        color: #fff;
        letter-spacing: 3.6px;
    }

    .main-text {
        font-size: 30px;
        color: #fff;
        margin-top: 30px;

    }
}

/* scroll down */
.field {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}

.scroll-down {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
}

.scroll-down:hover {
    cursor: pointer;
}

.arrow {
    width: 0;
    height: 20px;
    background-color: #fff;
    border: 1.5px solid #fff;
    position: relative;
    animation: scroll 1.5s infinite;
    -webkit-animation: scroll 1.5s infinite;
}

.arrow::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -6px;
    width: 12px;
    margin-top: -11px;
    height: 12px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
}

@keyframes scroll {
    0% {
        height: 20px;
    }

    30% {
        height: 35px;
    }

    60% {
        height: 20px;
    }
}

@-webkit-keyframes scroll {
    0% {
        height: 20px;
    }

    30% {
        height: 35px;
    }

    60% {
        height: 20px;
    }
}

/* services */
section#services {
    padding: 50px 0;
    background-color: #fff;
}

.arrow-icon {
    width: 24px;
    height: 24px;
}

.section-heading {
    font-size: 32px;
    color: #2E2E33;
    text-transform: uppercase;
    font-family: FuturaPTBold;
    letter-spacing: 8px;
}

.left-heading .section-heading {
    margin-left: 50px;
}

.service-parts {
    margin-top: 60px;
}

.service-parts .service-heading {
    position: relative;
}

.service-parts .service-heading span::before {
    content: "";
    position: absolute;
    width: 141px;
    height: 73px;
    border: 1px solid #C1BBB2;
    top: 0;
    left: 0;
}

.service-parts .service-heading span {
    display: inline-block;
    text-transform: capitalize;
    font-size: 20px;
    color: #2E2E33;
    font-family: FuturaPTBold;
    letter-spacing: 5.5px;
    margin-left: 60px;
    margin-top: 35px;
}

.service-parts .service-body {
    margin-top: 25px;
    font-family: FuturaPTLight, sans-serif;
}

.service-parts .service-body p {
    font-family: FuturaPTLight, sans-serif;
    font-size: 18px;
}

@media screen and (max-width:767px) {
    .section-heading {
        font-size: 22px;
        color: #2E2E33;
        text-transform: uppercase;
        font-family: FuturaPTBold;
        letter-spacing: 5px;
    }

    .left-heading .section-heading {
        margin-left: 30px;
    }

    .service-parts {
        margin-top: 30px;
    }

    .service-parts .service-heading span::before {
        width: 71px;
        height: 35px;

    }

    .service-parts .service-heading span {
        font-size: 16px;
        letter-spacing: 2.5px;
        margin-left: 30px;
        margin-top: 10px;
    }

    .service-parts .service-body p {
        font-family: FuturaPTLight, sans-serif;
        font-size: 11px;
    }
}

/* commodities */
section#commodities {
    width: 100%;
}

section#commodities .commodities-part {
    padding: 50px 0;
}

section#commodities .commodities-part:nth-child(odd) {
    background-image: url(../img/Group.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section#commodities .commodities-part:nth-child(even) {
    background-color: #fff;
}

.commodities-part:nth-child(odd) .c-heading {
    display: flex;
    justify-content: flex-end;
}

.commodities-part:nth-child(even) .c-heading {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.commodities-part .c-heading .commodities-part-heading {
    position: relative;
}

.commodities-part:nth-child(odd) .c-heading .commodities-part-heading span {
    margin-right: 75px;
}

.commodities-part:nth-child(even) .c-heading .commodities-part-heading span {
    margin-left: 75px;
}

.commodities-part:nth-child(odd) .c-heading .commodities-part-heading::after {
    content: "";
    background-image: url(../img/icons/Prev.png);
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    background-size: cover;
}

.commodities-part:nth-child(even) .c-heading .commodities-part-heading::before {
    content: "";
    background-image: url(../img/icons/Next1.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    left: 0;
}

.commodities-part .c-heading .commodities-subtitles span {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #E6604D;
}

.commodities-part:nth-child(odd) .c-heading .commodities-subtitles span {
    margin-right: 80px;
}

.commodities-part:nth-child(even) .c-heading .commodities-subtitles span {
    margin-left: 80px;
}
.commodities-img {
    position: relative;
}
.commodities-img .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent linear-gradient(180deg, rgba(154, 118, 0, 0.46) 0%, rgba(57, 0, 11, 0.5) 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: inherit;
    z-index: 2;
}
.commodities-list li{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.08px;
    line-height: 23px;
    font-family: FuturaPTLight, sans-serif;
}
.c-all .c-two, .c-all .c-three{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .commodities-part:nth-child(odd) .c-heading .commodities-part-heading span {
        margin-right: 50px;
    }

    .commodities-part:nth-child(even) .c-heading .commodities-part-heading span {
        margin-left: 50px;
    }
    .commodities-part:nth-child(odd) .c-heading .commodities-subtitles span {
        margin-right: 55px;
    }

    .commodities-part:nth-child(even) .c-heading .commodities-subtitles span {
        margin-left: 55px;
    }
    .commodities-part .c-heading .commodities-subtitles span {
        font-size: 18px;
    }
    .commodities-list{
        list-style: none;
    }
    .commodities-list li{
        font-size: 16px;
    }
}
@media screen and (min-width: 1024px) {
    .c-all{
        padding-right: 0 !important;
    }
    .commodities-part:nth-child(even)  .c-one{
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
    .commodities-part:nth-child(even)  .c-two{
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    .commodities-part:nth-child(even)  .c-three{
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .commodities-part:nth-child(even)  .c-four{
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }

}
/* our team */
section#team {
    padding: 100px 0;
}

.about-team {
    font-family: FuturaPTLight, sans-serif;
    font-size: 18px;
}

.about-team::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 100px;
    top: 0;
    left: 0;
    border: 1px solid #CCC7C0;
    margin: -15px 0 0 -15px;
    z-index: -1;

}

.team-parts {
    width: 100%;
    height: 625px;
    padding: 0 15px;
}

.team-part {
    position: relative;
    overflow: hidden;
}

.team-part img {
    width: 100%;
    height: 100%;
}

.team-part .team-name-pos {
    position: absolute;
    top: 0;
    margin-top: 500px;
    right: 10px;
    width: 100%;
    z-index: 4;
    transition: all 0.3s ease-out;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;

}

.team-part .team-name-pos span {
    display: block;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
}

.team-part .team-name-pos span:first-child {
    font-size: 22px;
    letter-spacing: 4px;
    font-family: FuturaPTBold, sans-serif;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    transition: all 0.3s ease-out;
}

.team-part .team-name-pos span:first-child::before {
    content: "";
    width: 120px;
    height: 65px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #FFFFFF;
    z-index: 0;
    transition: all 0.3s ease-out;

}

.team-part .team-name-pos span:last-child {
    font-size: 18px;
    letter-spacing: 4px;
    font-family: FuturaPTLight, sans-serif;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    transition: all 0.3s ease-out;
}

.team-part-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent linear-gradient(180deg, rgba(154, 118, 0, 0.46) 0%, rgba(57, 0, 11, 0.65) 100%) 0% 0% no-repeat padding-box;
    top: 625px;
    left: 0;
    overflow-y: hidden;
    transition: all 0.3s ease-out;
}

.overlay-text::-webkit-scrollbar {
    display: none;
}

.overlay-text {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.team-part-overlay .overlay-text {
    padding: 15px;
    color: #fff;
    margin-top: 100px;
    height: 400px;
    overflow-y: scroll;
}

.team-part-overlay .overlay-text p {
    font-size: 18px;
    font-family: FuturaPTLight, sans-serif;
    color: #fff;

}

/* team-part hover */
.team-part:hover .team-part-overlay {
    top: 0;
    transition: all 0.3s ease-out;
}

.team-part:hover .team-name-pos {
    top: 0;
    left: 20px;
    margin-top: 20px;
    transition: all 0.3s ease-out;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.team-part:hover .team-name-pos span {
    text-align: left;
}

.team-part:hover .team-name-pos span:first-child::before {
    content: "";
    width: 140px;
    height: 65px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #FFFFFF;
    z-index: 0;
    margin-left: -5px;

}

.team-part:hover .team-name-pos span:first-child {
    font-family: FuturaPTBold, sans-serif;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    transition: all 0.3s ease-out;
}

.team-part:hover .team-name-pos span:last-child {
    font-family: FuturaPTLight, sans-serif;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    transition: all 0.3s ease-out;
}

@media screen and (max-width:767px) {
    section#team {
        padding: 50px 0;
    }

    .about-team {
        margin-top: 20px;
        font-size: 12px;
    }

    .about-team::before {
        display: none;
    }

    .team-part .team-name-pos {
        margin-top: 380px;
    }

    .team-part-overlay .overlay-text p {
        font-size: 10px;

    }

    .team-parts {
        width: 100%;
        height: 455px;
        padding: 0 15px;
    }
}

/* CONTACT */
section#contact {
    padding: 0px 0 100px;
}

.contact-heading span {
    color: #0D0626;
    font-family: FuturaPTBold, sans-serif;
    font-size: 28px;
}

.contact-heading span::after {
    content: "";
    width: 185px;
    height: 85px;
    border: 1px solid #EA941E;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    margin: 0 0 -5px -30px;
}

.contact-form label {
    display: inline-block;
    color: #3A3B4B7F;
    top: 100px;
    font-size: 15px;
    transition: all .2s ease;
    z-index: 10;
    position: relative;
    top: -35px;
    left: 25px;
    padding: 0 5px;
    background-color: #fff;
}

.contact-form .message-put label {
    top: -140px;
}

.contact-form .input-container {
    width: 100%;
    position: relative;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 0 0 5px 25px;
    color: #3A3B4B7F;
    background-color: transparent;
    border: 1px solid #E3E3E3;
    outline: none;
    z-index: 20;
    font-size: 16px;
    font-family: FuturaPTLight;
}

.contact-form input.errorInput,
.contact-form textarea.errorInput {
    border-color: #F55C46 !important;
}

.contact-form textarea {
    padding: 10px 0 5px 25px;
    height: 140px;
    resize: none;
}

.contact-form input:focus~label,
.contact-form input:valid~label {
    z-index: 22 !important;
    top: -55px;
}

.contact-form textarea:focus~label,
.contact-form textarea:valid~label {
    top: -160px;
    z-index: 22 !important;
}

.contact-form input.errorInput~label,
.contact-form input.errorInput~label {
    color: #E6604D;
}

.contact-form textarea.errorInput~label,
.contact-form textarea.errorInput~label {
    color: #E6604D;
}

.contact-form .contact-send {
    width: 100%;
    height: 46px;
    background-color: #dfdfe2;
    text-align: center;
    letter-spacing: 1.3px;
    color: #2E2E33;
    text-transform: uppercase;
    font-family: FuturaPTBold, sans-serif;
    font-size: 12px;
    border: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s ease-in;
}

.contact-form .contact-send:hover {
    background: transparent linear-gradient(264deg, #900505 0%, #E58E67 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.contact-form .contact-send.sended {
    background: transparent linear-gradient(264deg, #900505 0%, #E58E67 100%) 0% 0% no-repeat padding-box !important;
    color: #fff !important;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.contact-address {
    font-size: 15px;
    font-family: FuturaPTLight, sans-serif;
}

.contact-form .fa-check {
    margin-right: 5px;
    color: #1EF771;
}

@media screen and (max-width:767px) {
    .contact-heading span {
        font-size: 20px;
    }

    .contact-heading span::after {
        display: none;
    }

}

/* Footer */
section#footer {
    padding: 15px 0;
    background-color: #dfdfe2;
    height: 100px;
}

.social-medias li {
    color: #747477;
    margin-left: 20px;
}

.social-medias li:first-child {
    margin-left: 0px;
}

.social-medias li a {
    color: #747477;
    font-size: 16px;
    transition: 0.3s ease-in;
}

.social-medias li a:hover,
.social-medias li a:active .social-medias li a:focus {
    color: #15151A;
    transition: 0.3s ease-in;
}

#footer .terms {
    color: #2E2E33;
    font-size: 15px;
    font-family: FuturaPTLight, sans-serif;
}

#footer .terms:hover,
#footer .terms:active,
#footer .terms:focus {
    color: #2E2E33;
    text-decoration: underline;
}

#footer .copyright {
    color: #2E2E33;
    font-size: 15px;
    font-family: FuturaPTLight, sans-serif;
    margin-left: 25px;
}

@media screen and (max-width:767px) {
    section#footer {
        padding: 15px 0;
        background-color: #dfdfe2;
        height: auto;
    }

    .s-medias {
        justify-content: center !important;
    }

    #footer .terms,
    #footer .copyright {
        display: block;
        font-size: 12px;
        text-align: center !important;
    }

    #footer .copyright {
        margin-top: 10px;
        margin-left: 0;
    }

    #footer .footer-logo {
        justify-content: center;
        margin-bottom: 10px;
    }
}

#footer .navbar-brand img {
    filter: brightness(10%);
}


/* ============== terms and conditions ============== */
section.terms-header {
    width: 100%;
    height: 60vh !important;
}

.terms-header .terms-main {
    padding-top: 20vh;
    position: relative;
}

.terms-header .terms-main span {
    text-transform: uppercase;
    font-size: 40px;
    font-family: FuturaPTBold, sans-serif;
    color: #fff;
    letter-spacing: 5.2px;
}

.terms-header .terms-main span:last-child {
    font-family: FuturaPTLight, sans-serif;
}

.terms-header .terms-main span:first-child::before {
    content: "";
    position: absolute;
    border: 1px solid #FFFFFF;
    width: 230px;
    height: 110px;
    left: 0;
    top: 0;
    margin: -20px 0 0 30px;
    margin-top: 17vh;
    z-index: 1;
}

@media screen and (max-width:767px) {
    .terms-header .terms-main span:first-child::before {
        display: none;
    }

    .terms-header .terms-main span {
        font-size: 25px;
        letter-spacing: 2.6px;
    }

    section.terms-header {
        width: 100%;
        height: 45vh !important;
    }
}

/* section terms */
section#terms-body {
    width: 100%;
    padding: 50px 0;
}

#terms-body .terms-use {
    padding: 10px 0;
}

#terms-body .terms-use span {
    font-size: 22px;
    font-family: FuturaPTLight, sans-serif;
}

#terms-body .terms-head {
    position: relative;
}

#terms-body .terms-heading {
    font-size: 22px;
    font-family: FuturaPTBold, sans-serif;
    text-transform: uppercase;
    line-height: 3.5em;
}

#terms-body .terms-heading::before {
    content: "";
    position: absolute;
    width: 141px;
    height: 73px;
    border: 1px solid #C1BBB2;
    top: 0;
    left: 0;
    margin-left: -30px;
    z-index: -1;
}

#terms-body .terms-text {
    font-family: FuturaPTLight, sans-serif;
    font-size: 15px;
}

@media screen and (max-width:767px) {
    #terms-body .terms-heading {
        font-size: 18px;
    }

    #terms-body .terms-heading::before {
        display: none;
    }

    #terms-body .terms-text {
        font-family: FuturaPTLight, sans-serif;
        font-size: 11px;
    }
}
